body {
}

header {
	border-bottom: solid 2px #cccccc;
	background: #ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	max-width: 1180px;

	width: 100%;
}
.content {
	max-width: 1180px;
    margin: auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.content li {
	list-style-type: none;
	float: right;
	padding: 0px 15px;
/*	font-family: 'Georgia', Times, Times New Roman, serif;*/
	margin-top: 30px;
	margin-bottom: 30px;
}

#liA {
	float: left;
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.borderleft {
	border-left: 1px #cccccc;
	border-style: solid;
	border-right: 0;
	border-bottom: 0;
	border-top: 0;
}

#liAbout{

}


.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

ul {
	margin-right: 120px;
	margin-left: 50px;
}

.mainsection {
    background-image: url("../images/tweed_@2X.png");
    height: 600px;
    width: 1180px;
}

.leftsection {
	height: 430px;
	width: 650px;
	float:left;
	margin: 40px 40px 40px 90px;
	background-color: #ffffff;
	border: solid #dddddd 1px;
}

.leftsectionport {
	height: 430px;
	width: 650px;
	float:left;
	margin: 40px 40px 40px 90px;
	background-color: #ffffff;
	border: solid #dddddd 1px;
}

.rightsection {
	height: 180px;
	width: 270px;
	float: left;
	background-color: #ffffff;
	margin-right: 70px;
	margin-top: 40px;
	border: solid #dddddd 1px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.rightsectionport {
	height: 180px;
	width: 270px;
	float: left;
	background-color: #ffffff;
	margin-right: 70px;
	margin-top: 40px;
	border: solid #dddddd 1px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.leftsection hr {
	background-color: #cccccc;
	height: 3px;
	border: none;
	line-height: 0;
}

.leftsectionport hr {
	background-color: #cccccc;
	height: 3px;
	border: none;
	line-height: 0;
}

footer {
	padding: 35px 0px;	
	background-color: #666666;
	text-align: center;
	border-top: solid 10px #4aaaa5;
	color: #cccccc;
	max-width: 1180px;
	width: 100%;
}

/*.leftsection div {
	margin: 5%;
	font-size: 20px;
	color: #777777;
	line-height: 1.5;
}*/

.leftsection form {
}

.LeftTitle {
	font-size: 30px;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

.rightsection p {
	font-size: 20px;
	color: #4aaaa5;
}

.rightsectionport p {
	font-size: 20px;
	color: #4aaaa5;
}

.margin {
	margin: 5%;
	font-size: 20px;
	color: #777777;
	font-weight: bold;
}

.rightsection hr {
	background-color: #cccccc;
	height: 1px;
	border: none;
}

.rightsectionport hr {
	background-color: #cccccc;
	height: 1px;
	border: none;
}

.myphoto {
	height: 133.333px;
	width: 200px;
}

.myphoto img {
	max-width: 100%;
	max-height: 100%;
}

#photo {
	margin-top: 10px;
	margin-left: 0;
	margin-bottom: 5px;
	margin-right: 20px;
}

.iconsize img {
	height: 60px;
	width: 60px;
	margin: 5px;
	margin-top: 10px;
}

li a:link, li a:visited {
    background-color: #ffffff;
    color: #777777;
    padding: 0px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

li a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}


li a:active {
	background-color: #bbbbbb;
}
/*#Message {
	width: 90%;
	height: 200px;
	margin-bottom: 10px;
}*/

.leftsection textarea {
	width: 100%;
	height: 100px;
	border: 1px solid #cccccc;
}

.leftsectionport textarea {
	width: 100%;
	height: 100px;
	border: 1px solid #cccccc;
}

.leftsection input {
	width: 100%;
	border: 1px solid #cccccc;
	height: 25px;
	font-size: 100%;
}

.leftsectionport input {
	width: 100%;
	border: 1px solid #cccccc;
	height: 25px;
	font-size: 100%;
}

#Submit {
	width: 150px;
	height: 30px;
	background-color: #4aaaa5;
    color: #ffffff;
    border: none;	
}

.portimages {
	height: 140px;
	width: 190px;
}

.mainsectionport {
    background-image: url("../images/tweed_@2X.png");
    height: 800px;
    width: 1180px;
}

#test {
	height: 650px;
}

.leftsection p {
	line-height: 1.5;
}

.leftsectionport p {
	line-height: 1.5;
}


.marginright {
	margin-right: 100px;
}

.marginpics {
	margin-top: 30px;
	margin-bottom: 30px;
}

.image { 
   position: relative;
}

.image h1 {
	position: absolute;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	padding: 5px 0px;
	margin-top: 100px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 250;
	bottom: 10px;
}

.portimages img {
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 980px) {
    body {
    }

    header {
    	max-width: 980px;
    	width: 100%;
    }

    .mainsection {
		max-width: 980px;
		height: 800px;
    }

    .leftsection {
    	width: 400px;
    	height: 600px;
    	margin-top: 40px;
    }

    footer {
    	max-width: 980px;
    	width: 100%;
    }

    ul {
    	margin-right: 0;
    }

    .mainsectionport {
	    background-image: url("../images/tweed_@2X.png");
	    height: 1000px;
	    width: 100%;
	    max-width: 980px;
	}

	.leftsectionport {
		width: 250px;
		height: 1100px;
	}

	#test {
		height: 900px
	}

	.portimages {
		float: none;
		margin-left: 19px;
		margin-bottom: 0px;
		margin-top: 20px
	}

	.marginpics {
	margin-bottom: 0px;
	margin-top: 0px;
	}
}


@media screen and (max-width: 768px) {
    body {
    }

	header {
    	max-width: 768px;
    	width: 100%;
    }

	.mainsection {
    	max-width: 768px;
    	width: 100%;
    	height: 800px;
    }

    .leftsection {
    	height: 500px;
    	width: 600px;
    	max-width: 100%;
    	margin: auto;
    	margin-bottom: 40px;
    	float: none;
    }

    .rightsection {
    	float: none;
    	margin: 40px;
    	width: 600px;
    	max-width: 100%;
    	margin: auto;
    }

    footer {
    	max-width: 768px;
     	width: 100%;
    }

    ul {
    	margin-right: 0;
    }

    .leftsectionport {
		height: 430px;
		width: 650px;
		float: none;
		margin: 0px 40px 40px 90px;
		background-color: #ffffff;
		border: solid #dddddd 1px;
		margin-left: 40px;
}

	#test {
		height: 650px;
}

	.rightsectionport {
		float: none;
		margin-left: 40px;
		width: 650px;
	}

	.mainsectionport {
		height: 900px;
	}

	#img1 {
		float: left;
	}

	#img2 {
		float: right;
	}

	#img3 {
		float: left;
	}

	#img4 {
		float: right;
	}

	#img5 {
		float: none;
	}

}


@media screen and (max-width: 640px) {
    body {
    }
        header {
    	max-width: 640px;
    	width: 100%;
    	margin: 0;
    	float: none;
    }

    .mainsection {
    	max-width: 640px;
    	width: 100%;
    }

    .leftsection {
    	height: 530px;
    	width: 400px;
    	max-width: 100%;
    	margin: auto;
    	margin-bottom: 40px;
    	float: none;
    }

    .rightsection {
    	float: none;
    	margin: 40px;
    	width: 400px;
    	max-width: 100%;
    	margin: auto;
    }
    footer {
    	max-width: 640px;
    	width: 100%;
    }
	ul {
    	margin-right: 0;
    }

    #liA {
    	float: none;
    	text-align: center;
    	margin: 0;

    }

    li {
    	float: none;
    	text-orientation: center;
    }

    ul {
    	margin: 0;
    }

    .mainsectionport {
	    background-image: url("../images/tweed_@2X.png");
	    height: 1500px;
	    width: 100%;
	    max-width: 640px;
	}

	.leftsectionport {
		width: 400px;
		height: 1200px;
		margin-left: 110px;
	}

	.rightsectionport {
		float: none;
		margin-left: 110px;
		width: 400px;
	}

	.portimages {
		float: none;
		margin-left: 19px;
		margin-bottom: 0px;
		margin-top: 20px
	}

	.marginpics {
		margin-bottom: 0px;
		margin-top: 0px;
	}

	#img1 {
		float: none;
		height: 210px;
		width: 285px;
		margin-left: 35px;
	}

	#img2 {
		float: none;
		height: 210px;
		width: 285px;
		margin-left: 35px;
	}

	#img3 {
		float: none;
		height: 210px;
		width: 285px;
		margin-left: 35px;
	}

	#img4 {
		float: none;
		height: 210px;
		width: 285px;
		margin-left: 35px;
	}

	#img5 {
		float: none;
		height: 210px;
		width: 285px;
		margin-left: 35px;
	}

	#test {
		height: 1250px;

	}

	#liContact {
		margin-right: 140px;
	}
}

